/* main */

.main {
  background-image: url(tairu.jpg);
  .main-middle {
    height: 600px;
    width: 100%;
    overflow: scroll;
    display: flex;
    .containers {
      height: 300px;
      width: 300px;
      border-radius: 3px 3px 0 0;
      background: #fff;
    }
  }
}


.modal-backdrop.show{
  z-index: 1010;
}